########################################
# create by :cxh-PC
# create time :2018-01-31 11:55:31.634247
########################################
__pycache__
.idea
config.ini
*.pyc
*.sqlite
lib
*_backup
docker-compose.yaml
run.sh
migrate_run.py
migrate_run.bat
migrate_run.sh
migrations
